
<h1 class="titulo">Seus posts</h1>
<div class="postContainer">
    <div class="col-1">
        <div class="posts">
            <ul>
               {{#posts}}
                <li>{{this.post}} </li>
                {{/posts}}
            </ul>
        </div>
    </div>
</div>