{{#unless logado}}
<form method="POST" id="login" class="form-geral formulario" action="/users/verificar">
    <h1>Login</h1>
    <div class="campo">
        <label for="usuario">Usuário:</label><br />
        <input name="usuario" type="text">
    </div>
    <div class="campo">
        <label for="senha">Senha:</label><br />
        <input name="senha" type="password">
    </div>
    <div class="campo">
        <input type="submit" value="Entrar">
    </div>
    <ul id="resposta">
    </ul>
</form>
<script>
    (function () {

        let form = document.querySelector('#login'),
            httpRequest = new XMLHttpRequest(),
            resposta = document.querySelector('#resposta');
            

        form.addEventListener("submit", function (ev) {
            ev.preventDefault();
            resposta.innerHTML = "";
            httpRequest.open("post", form.getAttribute('action'));
            httpRequest.send(new FormData(this));

            httpRequest.onreadystatechange = function () {
                if (httpRequest.readyState === 4) {
                    for (msg of JSON.parse(this.responseText)) {
                        resposta.innerHTML += '<li>' + msg.message + '</li>';
                        if (msg.message === 'Sucesso')
                            window.location.replace("/users/amigos");
                    }
                }

            }
        })
    }())
</script>

{{/unless}}