
<ul style="list-style: none; color: #fff;">
    {{#resultados}}
    <li style="border-top: 1px #ccc solid; padding: 5px;">{{usuario}} - <a style="color: #fff; border: 1px solid #ccc; padding: 2px; text-decoration: none" href="/users/add?id={{_id}}"> Adicionar</a></li>
    {{/resultados}}
</ul>