body {
  margin: 0 auto;
  font: 14px , Arial, Helvetica, sans-serif;
  color: #fff;
  background-color: #363636;
}
iframe{
  color: #fff;
  min-height: 300px;
}
h1{
  font-family: Arial, Helvetica, sans-serif;
}
a {
  color: #00B7FF;
}
.wrapper{
  margin: 0 auto;
  color: #fff;
  border-radius: 5px;
  height: 100vh;
}
textarea{
  resize: none;
  margin-top: 8px;
  border: none;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  min-width: 250px;
  color: #c7c7c7;
  font-size: 1.2em;
  border-radius: 5px;
  background-color: #1c1c1c;
  outline: none;  
}
.menu{
  display: flex;
  flex: row;
  justify-content: space-between;
  align-items: center;
  background-color: #de4b4b;
  width: 100%;
  left: 0;
  position: relative;
  top: 0px;
  left: 0px;
}
.menu p{
  margin-left: 10px;
}
.menu ul{
  display: flex;
  flex-direction: row;
  padding-top: 10px;
  padding-bottom: 10px;
  justify-content: flex-end;
}
.menu li{
  list-style: none;
  border-right: 1px solid #942f2f ;
}
.menu li a{
  text-decoration: none;
  font-size: 1rem;
  color: #fff;
  padding: 10px 20px;
  border: none;
}
.menu li a:hover{
  background-color: #cf4444;
  border: none;
}
.main{
  padding-left: 0.5rem;
  padding-right: 0.2rem;
}
.container{
  padding-top: 2em;
}
.titulo{
  text-align: center;
  margin-top: 10px;
  margin-bottom: 20px;
}
.postContainer{
  display: flex;
  justify-content: center;
}
.postContainer ul{
  width: 800px;
  height: 500px;
  overflow: auto;
}
.postContainer ul::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

.postContainer ul::-webkit-scrollbar-track {
  background: #292929;
  border-radius: 10px;
}

.postContainer ul::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: #3384f5;  
}

.postContainer ul::-webkit-scrollbar-thumb:hover {
  background: #2770d6;  
}
.postContainer ul li{
  background-color: #292929;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100px;
  margin-left: 20px;
  margin-right: 20px;
  border-radius: 5px;
}
.listaAmigos{
  display: flex;
  justify-content: space-between;
  margin: 5px;
}
.friends{
  display: flex;
  justify-content: space-around;
}
#janela{
  margin-top: 1em;
  width:100%;
}
.form-geral{
  display: grid;
  grid-template-columns: auto;
  grid-row-gap: 2rem;
}
.campo input[type='submit']{
  padding: 10px;
  color: #fff;
  border-radius: 5px;
  background-color: #3384f5;
}
.friendUnfullow{
  padding: 3px;
  color: #fff;
  border-radius: 3px;
  background-color: #3384f5;
  border: none;
}
.campo input{
  margin-top: 8px;
  border: none;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  min-width: 250px;
  color: #c7c7c7;
  font-size: 1.2em;
  border-radius: 50px;
  background-color: #1c1c1c;
  outline: none;  
}
.searchFriends{
  margin-top: 8px;
  border: none;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  color: #c7c7c7;
  font-size: 1.2em;
  border-radius: 5px;
  background-color: #1c1c1c;
  outline: none;  
}
.search{
  padding: 13px;
  color: #fff;
  border-radius: 5px;
  background-color: #3384f5;
  border: none;
}
.formulario{
  padding: 10px;
  text-align: center;
  vertical-align: middle;
  max-width: 50%;
  margin: auto;
  margin-top: 4rem; 
}

#validacoes{
  color: #de4b4b;
}